
form{
 display: inline-block;
 justify-self: center;
}
form input{
 margin: 1px;
}
form .aria_input{
 width: calc(100% - .95em);
 height: 10em;
}
form button{
 width: 40%;
 margin:10px;
}
.red{
 color: red;
}